/***** BASE STYLES *****/

html {
    font-size: 16px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 1em;
}

.container {   
    max-width: 1200px;
    width: 100%;
}

body,
.container,
header,
.header-top,
.header-bottom,
.top-section,
.bottom-section,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

h1,
h2,
h3,
#work p,
#contact h3 {
    font-family: 'Lora', serif;
    color: black;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.875em;
}

h4 {
    font-size: 1.5em;
    color: black;
}

p {
    font-size: 1.3em;
    line-height: 40px;
}

ul {
    margin: 0;
}

/***** HEADER *****/

header {
    background: url('../img/hero.png');
    background-size: cover;
    width: 100%;
    text-align: center;
}


header h1 {
    color: #bbc085;
    margin: 0;
    padding: 38px 20px 20px 20px;
    width: 100%;
}

header nav {
    padding: 0 0 20px 0;
    width: 70%;
    border-bottom: 2px solid #bbc085;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li{
    text-transform: uppercase;
    font-size: 1.25em;
    padding: 10px 0;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #828282;
}

header h2 {
    width: 100%;
    line-height: 80px;
    padding: 30px 0;
    margin: 0;
    color: #828282;
    font-weight: lighter;
}

header h2 span {
    color: #3a3a3a;
    width: 100%;
    font-weight: 700;
}

/***** ABOUT *****/

#about h3 {
    padding: 5px 0;
    margin: 40px 0 20px 0;
}

#about p {
    padding: 20px 15px; 
    color: #828282;
    text-align: center;
    margin: 0;
}

#about-two {
    padding-bottom: 20px;
}
/***** WORK *****/

#work {
    background: #f9ceb7;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

#work-one,
#work-two,
#work-three {
	width: 100%;
}

#work img{
    padding: 30px 0 20px 0;

}

#work h4 {
    padding: 5px 0;
    margin: 0;
}

#work p {
    line-height: 30px;
    padding: 0 15px;
    font-size: 1.2em;
}

/***** FOOTER-CONTACT *****/

footer {
    width: 100%;
    background-color: #ebebeb;
    text-align: center;
}

#contact-image {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 100%;
}

#contact-image img {
    width: 100%;
   }

#contact-text {
    width: 100%;
    padding: 20px 0;
}   

#contact h3 {
    margin: 20px 0;
}

#contact #email-header {
    font-weight: 400;
    padding: 10px 0;
    margin: 0;
}
#contact-text a {
    padding: 10px 0;
    width: 100%;
}

#contact #social-media-header {
    font-weight: 700;
    margin: 40px 0 0 0;
}

#contact a {
    text-decoration: none;
    color: #c49075;
    font-weight: bold;
    font-size: 1.75em;
}

#contact ul {
    list-style: none;
    width: 100%;
    padding: 15px 0 20px 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

#contact ul li {
	margin: 0;
	padding: 0;
}

/***** MEDIA QUERIES *****/

/*Tablet*/
@media all and (min-width: 768px) {
	header nav ul {
        padding: 0 10%;
        display: flex;
		justify-content: space-around;
	}

    .bottom-section {
		justify-content: space-between;
		align-items: flex-start;
	}
/*
    h2 {
        font-size: 3.5em;
        color: red;
}

    header h2 span {
     color: #9b9b9b;
}
/*
	.section-one,
	.section-two,
	.section-three {
		border-top: none;
		flex-basis: 30%;
	}

	.section-two {
		padding: 0 20px;
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}
  
    #contact-image {
    border: 12px solid white;
    }
}

/*Desktop*/
@media all and (min-width: 1200px) {
	/*header {
		justify-content: space-between;
	}
		border-bottom: none;
		text-align: left;
	}

	header nav {
		width: 40%
	}

	header nav ul {
		padding: 0;
        display: flex;
        justify-content: space-between;
    }
}