/* ==========================================================================
   Base Styles
   ========================================================================== */

html {
  font-size: 16px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 1em;
}

.content-wrapper {
  width: 90%;
  margin: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#about,
#work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

h1,
h2,
h3,
#work p,
#contact h3 {
  font-family: 'Lora', serif;
  color: black;
}

h1,
h2 {
  font-size: 2.1em;
}

h3 {
  font-size: 1.875em;
}

h4 {
  font-size: 1.5em;
  color: black;
  margin: 0;
}

p {
  font-size: 1.25em;
  line-height: 40px;
  margin: 0;
}

img {
  margin: 0;
}

/* ==========================================================================
   Mobile Styles
   ========================================================================== */

/* -------------------- Header -------------------- */

header {
  background: url('../img/hero.png') center no-repeat #333;;
  background-size: cover;
  width: 100%;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header h1 {
  color: #bbc085;
  margin: 0 0 20px 0;
  width: 100%;
}

header nav {
  padding: 0 0 20px 0;
  width: 70%;
  border-bottom: 2px solid #bbc085;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li{
  text-transform: uppercase;
  font-size: 1.25em;
  padding: 10px 0;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: #828282;
}

header h2 {
  width: 100%;
  line-height: 60px;
  padding: 30px 0 0 0;
  margin: 0;
  color: #828282;
  font-weight: lighter;
}

header h2 span {
  color: #3a3a3a;
  width: 100%;
  font-weight: 700;
}

/* -------------------- About -------------------- */

#about {
  width: 100%;
}

#about h3 {
  margin: 0;
  width: 100%;
  text-align: center;
}

#about .about-description {
  margin-top: 40px; 
  color: #828282;
  text-align: center;
}

/* -------------------- Work -------------------- */

#work {
  background: #f9ceb7;
  text-align: center;
  width: 100%;
}

#work .content-wrapper {
  margin-bottom: 0;
}

#work .work-icon {
width: 100%;
}

#work .work-description {
  margin-bottom: 60px;
}

#work h4 {
  margin: 20px 0;
}

#work p {
  line-height: 30px;
  font-size: 1.125em;
}

/* -------------------- Footer -------------------- */

footer {
  background-color: #ebebeb;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

footer .contact-image {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  width: 100%;
  justify-content: center;
}

footer .contact-image img {
  width: 100%;
  }

footer .contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

footer .contact-content {
  width: 100%;
}   

footer h3 {
  margin: 30px 0 0 0;
}

footer .contact-text {
  margin: 40px 0;
  width: 100%;
}

footer h4 {
  font-weight: 400;
  margin-bottom: 15px;
}

footer .contact-text a {
  text-decoration: none;
  color: #c49075;
  font-size: 1.75em;
  font-weight: bold;
}

footer .social {
  width: 90%;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p i {
  color: #c49075;
  font-size: 1.75em;
}

/* ==========================================================================
   Tablet Styles
   ========================================================================== */
@media all and (min-width: 768px) {
	
  /* Header */
  header nav ul {
    padding: 0 10%;
    display: flex;
		justify-content: space-around;
	}

  header h2 {
    font-size: 2.5em;
  }

  /* Main */
  #about .content-wrapper,
  #work .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  #work .work-icon {
    margin: 0;
  }

  #work h4 {
    font-size: 1.75em;
  }
  
  #work p {
    line-height: 30px;
    font-size: 1.25em;
  }
  
  /* Footer */
  footer .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }

  footer .contact-image,
  footer .contact-content {
    width: 48%;
  }

  footer .contact-image {
    border: 6px solid white;
  }

  footer h3 {
    font-size: 1.75em;
    margin: 0;
  }

  footer .contact-text a {
    font-size: 1.5em;
  }
  
  footer .social {
    width: 100%;
  }

  footer .social-icons p i {
    font-size: 2em;
  }
}

/* ==========================================================================
   Desktop Styles
   ========================================================================== */
@media all and (min-width: 1200px) {

  .content-wrapper {
    max-width: 1000px;
  }

  /* Header */
  header .content-wrapper {
    justify-content: space-between;
	}

  header h1 {
		width: 30%;
		text-align: left;
	}

  header nav {
    width: 30%;
    border-bottom: none;
  }

	header nav ul {
		padding: 0;
    display: flex;
    justify-content: space-between;
  }

  header h2 {
    font-size: 4.5em;
    font-weight: 700;        
    text-align: left;
    line-height: 1.25;
    color: #3a3a3a;
    margin: 80px 0 300px 0;
    padding: 0;
    width: 100%;
  }
    
  header h2 span {
    color: #9b9b9b;
  }

  /* Main */
  #about h3 {
    font-size: 2.25em;
    text-align: left;
    padding-bottom: 20px;
    margin: 0;
  }

  #about .content-wrapper {
    justify-content: space-between;
  }

  #about .about-description {
    width: 45%;
		padding: 0;
    margin: 0;
  }

  #about p {
    text-align: left;
  }

  #work .content-wrapper {
    margin: 60px 0;
    justify-content: space-between;
  }

  #work article {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #work .work-icon,
  #work .work-description { /*check this*/
    padding: 0;
    margin: 0;
	}

  #work h4 {
    font-size: 1.625em;
  }

  #work p {
    font-size: 1.125em;

  }

  /* Footer */

  footer .contact-image {
    border: 12px solid white;
  }
    
  footer .social {
    width: 80%;
  }
}